div.loader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: transparent;
   transition: visibility 5s;
}

img.img__logo {
   position: absolute;
   width: 160px;
   height: 160px;
}

div.loader--hidden {
   visibility: hidden;
}

div.loader::after {
   content: "";
   width: 150px;
   height: 150px;
   border: 15px solid #fad98c;
   border-top-color: #dbb356;
   border-radius: 50%;
   animation: loading 0.3s ease infinite;
}

@keyframes loading {
   from {
      transform: rotate(0turn);
   }

   to {
      transform: rotate(1turn);
   }
}