*,
*::before,
*::after {
   box-sizing: border-box;
}

* {
   margin: 0;
   padding: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.whole-container {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
}

/* ! Login Page Background */
section.body-sec__background::before {
   content: '';
   background-image: url(../../public/images/backgrounds/ctu-main-building.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   opacity: 0.30;
   z-index: -1;
}

main.body-sec__main {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

section.main-sec__container {
   width: 705px;
   height: 355px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background-color: #fdfbf9;
   border: 1px solid #dbb356;
   border-radius: 10px;
   box-shadow: 3px 7px 15px #0000007d;
}

div.container-login__image {
   width: 50%;
   height: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   background-color: #ffd980;
   border-radius: 10px;
   border-right: 3px solid #dbb356;
}

div.container-login__forms {
   width: 50%;
   height: 100%;
   display: flex;
   flex-direction: column;
   padding: 10px;
}

div.login-form__header {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;
}

div.login-form__header-text {
   display: flex;
   flex-direction: column;
}

img.header__logo--edit {
   width: 70px;
   height: 70px;
}

h4.hdr-texts--ctu {
   color: #af8932;
}

h4.hdr-texts--location {
   font-size: 0.80rem;
   font-weight: normal;
   color: #af8932;
}

img.login__image--edit {
   width: 320x;
   height: 320px;
}

form.login-form__container {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

label.fr-element__lbl {
   font-size: 0.90rem;
   color: #af8932;
}

input.fr-element__input {
   width: 100%;
   padding: 5px 0px 5px 10px;
   font-size: 1.2rem;
   color: #af8932;
   background-color: #fee09a;
   border: none;
   border-radius: 5px;
}

input.fr-elmnt--btn {
   color: #fdfbf9;
   background-color: #ffd980;
   border-right: 3px solid #dbb356;
   border-bottom: 3px solid #dbb356;
}