@import url('../w3-school/style.css');

*,
*::before,
*::after {
   box-sizing: border-box;
}

* {
   margin: 0;
   padding: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.whole-container {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   overflow: overlay;
}

::-webkit-scrollbar {
   background-color: transparent;
}

div.body-sec__background::before {
   content: '';
   background-image: url(../../public/images/backgrounds/ctu-main-building.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   opacity: 0.50;
   z-index: -1;
}

header.container-header {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: 7vh;
   padding: 0px 10px 0px 10px;
   background-color: #fad98a;
   border-bottom: 3px solid #28225f;
}

div.header__container {
   display: flex;
   flex-direction: row;
   align-items: center;
   color: #28225f;
   gap: 7px;
}

img.header__mylogo--modify {
   width: 40px;
   height: 40px;
}

/* ! End of header */
main.container-main {
   width: 100%;
   height: 90vh;
}

main.main {
   display: flex;
   flex-direction: row;
   padding: 10px;
   gap: 10px;
}

/* ! The Main Containter For Add Entry */
section.main__container {
   width: 25%;
   height: 100%;
   display: flex;
   flex-direction: column;
}

section.sub-sec__forms {
   height: 100%;
   display: flex;
   flex-direction: column;
   padding: 10px;
   background-color: #f4ca66;
   border-radius: 10px;
   gap: 10px;
}

div.sub-form__header {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 7px 0px;
   background-color: #28225f;
   color: #dbb356;
   border-radius: 7px;
}

div.sub-form__div {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
}

form.form-container__content {
   display: flex;
   height: 100%;
   flex-direction: column;
   justify-content: space-between;
}

label.fr-element__lbl {
   font-size: 0.80rem;
   color: #28225f;
}

input.fr-element__input {
   width: 100%;
   padding: 5px 0px 5px 5px;
   color: #28225f;
   background-color: #ffe4a5;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

select.fr-element__slct {
   width: 100%;
   padding: 5px 0px;
   color: #28225f;
   background-color: #ffe4a5;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

div.fr-element__lbl--div {
   padding: 5px 0px 5px 10px;
   margin: 5px 0px;
   background-color: #e1b142;
   border-bottom: 2px solid #28225f;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
}

div.fr-element__lbl--div:hover {
   background-color: #ffd36d;
}

label.fr-element__lbl--radio {
   font-size: 1rem;
   color: #28225f;
}

input.fr-element__btn--submit {
   width: 100%;
   padding: 8px 0px;
   font-size: 1.1rem;
   color: #fdfbf9;
   background-color: #28225f;
   border: none;
   cursor: pointer;
   border-radius: 10px;
   transition: 0.3s;
}

input.fr-element__btn--submit:hover {
   background-color: #1b0ab0;
}

/* ! */
section.main-table-section {
   width: 75%;
   height: 100%;
   display: flex;
   flex-direction: column;
   z-index: 1;
   gap: 7px;
}

div.table-sec__count-entries-container {
   width: 100%;
   height: 20%;
   padding: 0px 10px 0px 10px;
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;
}

div.table-sec__count-entries-container--flex-column {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

div.cnt-entry--other {
   padding: 3px;
   border-radius: 5px;
   background-color: #f4d281;
   border-left: 2px solid #28225f;
   border-top: 2px solid #28225f;
}

div.cnt-entry__container {
   width: 210px;
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;
}

div.dept-entry-con--color {
   padding: 5px;
   background-color: #f4d281;
   border-right: 2px solid #28225f;
   border-bottom: 2px solid #28225f;
   border-radius: 5px;
}

img.cnt-entry--dept-image {
   width: 50px;
   height: 50px;
}

img.cnt-entry--dept-image-min-size {
   width: 35px;
   height: 35px;
}


/* ! Update Deleete */
div.table-sec__update-delete-container {
   width: 100%;
   height: 30%;
   padding: 10px;
   background-color: #ffd771;
   border-radius: 10px;
}

form.update-delete__container {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   gap: 20px;
}

section.upt-dlte-sec {
   width: 25%;
   display: flex;
   flex-direction: column;
   gap: 5px;
}

div.upt-dlte-sec--sub-form {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 7px;
   padding: 1px 0px 1px 0px;
}

img.form__image--modify {
   width: 25px;
   height: 25px;
}

input.fr-element__btn--search {
   border: none;
   padding: 7px 20px;
   font-size: 0.70rem;
   color: #fdfbf9;
   background-color: #28225f;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
}

input.fr-element__btn--search:hover {
   background-color: #4131cf;
}

input.fr-element__btn--update {
   width: 100%;
   border: none;
   padding: 7px 20px;
   font-size: 0.70rem;
   color: #fdfbf9;
   background-color: #005300;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
}

input.fr-element__btn--update:hover {
   background-color: #17bd17;
}

input.fr-element__btn--delete {
   width: 100%;
   border: none;
   padding: 7px 20px;
   font-size: 0.70rem;
   color: #fdfbf9;
   background-color: #e00000;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
}

input.fr-element__btn--delete:hover {
   background-color: #ff3838;
}

input.fr-elmnt--border {
   width: 205px;
   border-bottom: 2px solid #28225f;
   border-right: 3px solid #28225f;
}

/* ! End of Update Delete */
div.table-sec__container {
   width: 100%;
   height: 50%;
   padding: 10px 0px 0px 0px;
   overflow-y: auto;
}


table.table__style {
   width: 100%;
   border-collapse: collapse;
   background-color: #faefe3;
}

table.table__style th,
table.table__style td {
   font-size: 12px;
   padding: 7px;
   text-align: left;
   border-bottom: 1px solid #dbb356;
   border-right: 1px solid #dbb356;
}

table.table__style th {
   background-color: #dbb356;
   color: #fdfbf9;
   text-align: center;
   font-weight: bold;
}

table.table__style tbody tr:nth-child(even) {
   background-color: #dbb35689;
   color: #000000;
}

table.table__style tbody tr:hover {
   background-color: #fdfcf8;
   transition: background-color 0.3s ease;
}

footer.container-footer {
   width: 100%;
   height: 3vh;
   background-color: #dbb356;
}